* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  min-height: 400px;
  min-width: 980px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* # header */

header {
  background-color: #8eafbb;
  padding-bottom: 10px;
}

.header {
  display: flex;
  background-color: #a57f1e;
  height: 30px;
  align-items: center;
  border: 2px dashed black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  max-width: 980px;
}

.links {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  height: 30px;
  align-items: center;
}

.pic {
  width: 800px;
  background-color: pink;
  border: 4px dashed black;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  max-width: 980px;
}

.black {
  background-color: #00018b;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* main */
main {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-div {
  display: flex;
}

.grey {
  background-color: lightgrey;
}

.blu {
  background-color: #1e90ff;
  flex-basis: 70%;
  border: 4px dashed black;
}

.rosa {
  background-color: #ffc0ca;
  flex-basis: 30%;
  border: 4px dashed black;
}

.main-grey {
  background-color: lightgrey;
  flex-wrap: wrap;
  display: flex;
}

.main-grey > .container > .rosa {
  order: -1;
}

.green {
  height: 600px;
  background-color: green;
  flex-basis: 100%;
  border: 4px dashed black;
}

/* footer */

footer {
  background-color: red;
}
